.auth .card {
    border: 0;
    border-radius: 10px;
}

.auth .card .card-body {
    padding: 2rem;
}

.auth .brand-logo {
    text-align: center;
    margin-bottom: 2rem;
}

.auth .brand-logo img {
    width: 150px;
}

.auth form .form-group {
    margin-bottom: 1.5rem;
}

.auth form .form-control {
    background: #2A3038;
    border-color: #2c2e33;
    color: #ffffff;
}

.auth form .form-control:focus {
    background: #2A3038;
    border-color: #0090e7;
    color: #ffffff;
}

.auth .btn-primary {
    background: #0090e7;
    border-color: #0090e7;
}

.auth .sign-up {
    text-align: center;
    margin-top: 1rem;
    color: #6c7293;
}

.auth .sign-up a {
    color: #0090e7;
} 